* {
	/*   outline: 2px dashed thistle; */
	clear: both;
}

body {
	background-color: lightblue;
}

/* header {
	background: darkgray;
	color: whitesmoke;
	text-align: center;
	padding: 10px;
	text-shadow: 1px 1px 1px black;
} */

/* css comment syntax */

nav ul {
	background-color: dimgrey;
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/* nav ul li {
	display: inline-block;
	margin: 20px 20px 20px 20px;
	font-size: 24px;
} */

nav ul li a {
	clear: both;
	color: whitesmoke;
	text-shadow: none;
}

main {
	width: 90%;
	background: whitesmoke;
	padding: 50px;
}

nav li:first-child {
  background-color: whitesmoke;
}

h1,
h2,
h3 {
	font-family: Helvetica, sans-serif;
}

footer {
	background-color: rgb(54, 16, 88, .5);
}

/* add an id # */
#highlight {
	background-color: yellow;
}

/* add a class . */

.floatRight {
	/*   float: left; */
}

img {
	height: 150px;
	width: 250px;
}

img:hover {
	border: 15px dashed rebeccapurple;
}


/* unvisited link */
a:link {
	color: #7aeb8d;
}

/* visited link */
a:visited {
	color: #00e1ff;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
}

/* selected link */
a:active {
	color: #0000FF;
}